<!-- ../src/app/pages/forgotpassword/forgotpassword.component.html -->

<!-- Forgot Password -->
 <!-- Step 1 Email -->
@if (step == 1) {
<section
  id="content"
  role="main"
  class="w-full max-w-md lg:max-w-[40%] mx-auto p-6"
>
  <div
    class="mt-7 bg-white rounded-xl shadow-lg dark:bg-gray-900 border-2 border-green-300 dark:border-green-500"
  >
    <div class="p-6 sm:p-8">
      <div class="text-center">
        <h1 class="block text-3xl font-bold text-gray-900 dark:text-white">
          {{ "forgotpassword.Forgot_Password" | translate }}
        </h1>
        <p class="mt-3 text-sm text-gray-700 dark:text-gray-300">
          {{ "messages.Remember_your_password" | translate }}
          <a
            class="text-green-600 dark:text-green-400 hover:underline font-medium"
            routerLink="/login"
          >
            {{ "forgotpassword.back_to_login" | translate }}
          </a>
        </p>
      </div>
<!-- Email -->
      <div class="mt-6">
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
          <div class="grid gap-y-5">
            <div>
              <label
                for="email"
                class="block text-sm font-semibold text-gray-800 dark:text-gray-200"
              >
                Email address
              </label>
              <div class="relative">
                <input
                  formControlName="email"
                  type="email"
                  id="email"
                  name="email"
                  class="py-3 px-4 block w-full border border-gray-300 dark:border-gray-600 rounded-lg text-sm text-gray-900 dark:text-white bg-white dark:bg-gray-800 focus:ring-green-500 focus:border-green-500 shadow-sm"
                />
              </div>
              <p class="hidden text-xs text-red-600 mt-2" id="email-error">
                {{
                  "messages.Please_include_a_valid_email_address_so_we_can_get_back_to_you"
                    | translate
                }}
              </p>
            </div>
            <button
              [disabled]="verifyEmail.invalid"
              class="btn-main bg-green-600 hover:bg-green-700 text-white py-3 px-4 rounded-lg shadow-md transition"
            >
              {{ "forgotpassword.reset_password" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
} 
<!-- Step 2 Code -->
@else if (step == 2) {
<section
  id="content"
  role="main"
  class="w-full max-w-md lg:max-w-[40%] mx-auto p-6"
>
  <div
    class="mt-7 bg-white rounded-xl shadow-lg dark:bg-gray-800 border-2 border-green-300 dark:border-green-500"
  >
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white"></h1>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
          {{ "messages.Remember_your_password" | translate }}
          <a
            class="text-green-600 dark:text-green-400 hover:underline font-medium"
            routerLink="/login"
          >
            {{ "forgotpassword.back_to_login" | translate }}
          </a>
        </p>
      </div>
<!-- Code -->
      <div class="mt-5">
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
          <div class="grid gap-y-4">
            <div>
              <label
                for="code"
                class="block text-sm font-bold ml-1 mb-2 dark:text-white"
              >
                {{ "forgotpassword.code" | translate }}
              </label>
              <div class="relative">
                <input
                  formControlName="resetCode"
                  type="text"
                  id="code"
                  class="py-3 px-4 block w-full border-2 border-gray-200 dark:border-gray-600 rounded-md text-sm text-gray-900 dark:text-white bg-white dark:bg-gray-900 focus:border-green-500 focus:ring-green-500 shadow-sm"
                />
              </div>
            </div>
            <button [disabled]="verifyCode.invalid" class="btn-main">
              {{ "forgotpassword.confirm_code" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
}

<!-- Step 3 New Password with email entered -->
@else if (step == 3) {
<section
  id="content"
  role="main"
  class="w-full max-w-md lg:max-w-[40%] mx-auto p-6"
>
  <div
    class="mt-7 bg-white rounded-xl shadow-lg dark:bg-gray-800 border-2 border-green-300 dark:border-green-500"
  >
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">
          {{ "forgotpassword.reset_password" | translate }}
        </h1>
      </div>

      <div class="mt-5">
        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
          <div class="grid gap-y-4">
            <div>
              <label
                for="email"
                class="block text-sm font-bold ml-1 mb-2 dark:text-white"
              >
                {{ "forgotpassword.Email" | translate }}
              </label>
              <div class="relative">
                <input
                  formControlName="email"
                  readonly
                  type="email"
                  id="email"
                  name="email"
                  class="py-3 px-4 block w-full border-2 border-gray-200 dark:border-gray-600 rounded-md text-sm text-gray-900 dark:text-gray-300 bg-white dark:bg-gray-900 focus:border-green-500 focus:ring-green-500 shadow-sm"
                />
              </div>
            </div>

            <div>
              <label
                for="password"
                class="block text-sm font-bold ml-1 mb-2 dark:text-white"
              >
                {{ "forgotpassword.new_password" | translate }}
              </label>
              <div class="relative">
                <input
                  formControlName="newPassword"
                  type="password"
                  id="password"
                  name="password"
                  class="py-3 px-4 block w-full border-2 border-gray-200 dark:border-gray-600 rounded-md text-sm text-gray-900 dark:text-gray-300 bg-white dark:bg-gray-900 focus:border-green-500 focus:ring-green-500 shadow-sm"
                />
              </div>
            </div>

            <button [disabled]="resetPassword.invalid" class="btn-main">
              {{ "forgotpassword.confirm" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
}

<p
  class="mt-3 flex justify-center items-center text-center divide-x divide-gray-300 dark:divide-gray-600"
>
  <a
    class="pr-3.5 inline-flex items-center gap-x-2 text-sm text-gray-600 dark:text-gray-300 decoration-2 hover:underline hover:text-green-600 dark:hover:text-lime-300"
    target="_blank"
  >
    <svg
      class="w-3.5 h-3.5"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
      />
    </svg>
    View Github
  </a>

  <a
    class="pl-3 inline-flex items-center gap-x-2 text-sm text-gray-600 dark:text-gray-300 decoration-2 hover:underline hover:text-green-600 dark:hover:text-lime-300"
  >
    Contact us!
  </a>
</p>
